<div data-test-is-pending>
  {{isPending}}
</div>

<div data-test-is-rejected>
  {{isRejected}}
</div>

<div data-test-is-fulfilled>
  {{isFulfilled}}
</div>

<div data-test-result>
  {{result}}
</div>

<div data-test-error>
  {{error}}
</div>
